<%
meta title: "Special Pages"
meta description: "Empfohlene Links der Wiener Irish Folk Band Paddy's Return"
%>
<div class="page-header">
	<h1 class="title-page text-center">Blog</h1></div>

<% if can? :manage, :all %>
	<%= link_to "Neu anlegen", new_page_path(:page=> {tags: "special"})%>
<% end %>
<%= render partial: "pages/page", locals: {page: @specials} %>
