<%
meta title: "Informationen"
meta description: "Information der Wiener Irish Folk Band Paddy's Return"
%>
<div class="page-title">
    <h1 class="text-center">Informationen</h1></div>
<% if can? :manage, :all %>
    <%= link_to "Neu anlegen", new_page_path(:page=> {tags: "informationen"})%>
<% end %>

<%= render partial: "pages/page", locals: {page: @totinfos} %>

